@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');

/*default elements*/
*
{
    box-sizing: border-box;
    
}

body
{
    margin: 0;
    color: #2b140f;
    font-size: 16px;
    line-height: 1.5;
     font-family: 'Cormorant Garamond', serif;
    background-color: #d5d0c6;
    
}
ul
{
    list-style: none;
}

img
{
    max-width: 50%;
}

p
{
    font-size: large;
    
    line-height: 1.3;
}

h1, h2
{
    line-height: 1;
    font-size: xx-large;
  font-family: 'Lobster', cursive;
    margin-bottom: 15px;
}

hr
{
 color: #2b140f;
}

/*Custom elements*/
.FContainer
{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 30px;
}

/*Navbar*/
.FNavBar
{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #d6b173;
}

.FNavBar .FContainer
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.FNavBar .FLogo
{
    line-height: 1;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    margin: 10px 0;
}

.FNavBar ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FNavBar a
{
    color: #2b140f;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    margin: 10px;
}

/*Header*/

.FHeader
{
    max-width: 100%;
    margin: 0;
    padding: 50px 0 0 0;
    background-color: #c09a80;
    color: #2b140f;
}

.FHeader .FContainer
{
    display: flex;
    align-items: center;
    max-width: 1100px;
}

.FHeader img
{
    border-radius: 20px;
    margin: 2rem;
    max-width: 50%;
}


.header h1
{
    
}

/*Boxes*/

.FBoxes
{
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.FBoxes .FContainer
{
    padding: 10px;
}

.FBox
{
    max-width: 500px;
    flex: 1;
    background-color: #c09a80;
    border-radius: 20px;
    padding: 30px;
    
}

@media (max-width: 600px)
{
    .FHeader .FContainer
    {
        flex-direction: column;
        
    }
    .FHeader img
    {
        max-width: 100%;
    }
    .FNavBar ul
    {
        color: #44888f;
        padding: 0;
    }
    .FNavBar a
    {
        font-size: medium;
    }
}

