.NavBar
{
    text-align: left;
    width: auto;
    height: auto;
    margin: 0 auto auto;
    min-height: 11vh;
    overflow: auto;
    background-color: #52734D;
}
.NavBar-Image
{
    float: left;
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: .1rem;
    margin: .5rem;
}
.NavBarButton
{
    float: right;
    margin: 0 .3rem;
    font-size: 1.5rem;
    transform: translate(0, -.6rem);
    
}
.NavBarText
{
    position: relative;
    text-align: right;
    margin: 30px 0;
}
.NavBar-Image-Text
{
    display: inline-block;
    position: relative;
    margin: 0;
   transform: translate(0, 1.6rem);
    font-size: 2rem;
}

body
{
    text-align: center;
    background-color: #FEFFDE;
    margin: 0;
}