/*color*/
/*https://color.adobe.com/create/color-wheel*/
/*!*#435f39*! in C*/
/*monochromatic*/

//Current Used Color
$Primary-Color: #446039;
$Primary-Color-Light: #7CB068;
$Primary-Color-Lighter: #d0f6c1;

//Color palate
//#679157
//#314529
//#879183
//#9DDE85

$ColorPalate-Darkest: #314529;
$ColorPalate-Dark: #435f39;
$ColorPalate-Light: #679157;
$ColorPalate-Lightest: #9DDE85;
$ColorPalate-Grey: #879183;

$White-Color: #ffff;
$Dark-Color: #0000;


